/* Fabulae GM Helper - Stylesheet */
/* Add custom styles for the module here. */

body {
    font-family: Arial, sans-serif;
}
.fabulae-gm-helper {
    padding: 10px;
}

.tabs {
    margin-bottom: 10px;
}

.tab-button {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
.fabulae-gm-helper-button {
    display: inline-block; /* Ne prend que la place nécessaire */
    padding: 5px 10px; /* Taille intérieure du bouton */
    font-size: 14px; /* Taille du texte */
    cursor: pointer; /* Curseur pour indiquer que c'est cliquable */
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    margin: 5px auto; /* Centré horizontalement avec un espace */
}

.fabulae-gm-helper-button:hover {
    background-color: #45a049; /* Couleur au survol */
}

